<!DOCTYPE html>
<html>

<head>
    <title>Api Documrnts</title>
    <link rel="stylesheet" type="text/css" href="{{bootstrap}}">
    <script type="text/javascript" src="/static/{{resjs_name}}"></script>
    <style type="text/css">
    .resource {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: solid 2px orange;
    }
    </style>
</head>

<body class="container-fluid">
    <div class="page-header">
        <h1>Api Documents</h1>
    </div>
    <ul>
        <li>auth_header: <code>{{apiinfo.auth_header}}</code></li>
        <li>auth_token_name: <code>{{apiinfo.auth_token_name}}</code></li>
        <li>url_prefix: <code>{{apiinfo.url_prefix}}</code></li>
        <p><pre>{{apiinfo.docs}}</pre></p>
        {% for name,res in resources.items() %}
        <li>
        <a class="lead" href="#{{name}}">{{name}}</a>
        <ul>
            {% for action in res["actions"] %}
            <li>
                <a href="#{{name+'.'+action.action}}">
                {{action.action}} {{action.docs or ''}}
                </a>
            </li>
            {% endfor %}
        </ul>
        </li>
        {% endfor %}
    </ul>
    {% for name,res in resources.items() %}
    <div class="resource table-responsive">
        <h2 id="{{name}}">{{name}}</h2>
        <p><pre>{{res["docs"] or ''}}</pre></p>
        <table class="table table-striped">
            <tr>
                <th>action / docs</th>
                <th>method / url</th>
                <th>param</th>
                <th>return</th>
            </tr>
            {% for action in res["actions"] %}
            <tr id="{{name+'.'+action.action}}">
                <td class="info">
                <strong>{{action.action}}</strong>
                <p>{{action.docs or ''}}</p>
                </td>
                <td class="success"><code>{{action.httpmethod.upper()}} {{apiinfo.url_prefix+action.url}}</code></td>
                <td class="info">
                <pre>{{action.inputs}}</pre>
                </td>
                <td class="success">
                <pre>{{action.outputs}}</pre>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</body>

</html>
