dist/
res.js
res.min.js
resdocs.html
permission.html
!flask_restaction/tmpl/*
!flask_restaction/resjs/dist/
!flask_restaction/resjs/dist/res.js
!flask_restaction/resjs/dist/res.min.js
!flask_restaction/resjs/src/res.js
!/resjs/dist/

tests/static/
node_modules/

.ropeproject/
.venv/
*.db

# pkg resource
MANIFEST

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
docs/build/

# PyBuilder
target/
