<!DOCTYPE html>
<html>

<head>
    <title>Todos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="/static/js/res.js"></script>
    <script type="text/javascript" src="/static/js/vue.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="page-header">
            <h1>Hello {{user.name | capitalize}}，Welcome to Todos</h1>
        </div>
        <div v-if="message" class="alert alert-warning" role="alert">{{message|json}}</div>
        <div v-for="todo in todos">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="col-md-11">{{todo.name}}</div>
                    <div class="col-md-1"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{todo|moment}}</div>
                </div>
                <div class="panel-body row">
                    <div class="col-md-11">{{todo.content}}</div>
                    <div class="col-md-1">
                        <button @click="delete_todo(todo)" type="button" class="btn btn-link" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove text-warning" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <input type="text" v-model="newtodo.name" class="form-control" placeholder="name">
            </div>
            <div class="panel-body row">
                <textarea v-model="newtodo.content" class="form-control col-md-11" rows="3" placeholder="content"></textarea>
                <div class="col-md-1">
                    <button @click="save(newtodo)" type="button" class="btn btn-link text-info" aria-label="Left Align">
                        保存<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    moment.locale('zh_CN');
    Vue.filter('moment', function(todo) {
        return moment(todo.todo_id).fromNow() //format("MMM Do YY");
    });
    var app = new Vue({
        el: '#app',
        data: {
            todos: [],
            user: {},
            newtodo: {},
            message: ""
        },
        created: function() {
            res.todos.get_list(function(err, todos) {
                if (err) {
                    app.message = err
                } else {
                    app.todos = todos
                }
            })
        },
        methods: {
            delete_todo: function(todo) {
                res.todos.delete({
                    todoid: todo.todoid
                }, function(err, msg) {
                    if (err) {
                        app.message = err
                    } else {
                        var index = app.todos.indexOf(todo)
                        if (index > -1) {
                            app.todos.splice(index, 1);
                        }
                    }
                })
            },
            save: function(newtodo) {
                res.todos.post(newtodo, function(err, todo) {
                    if (err) {
                        app.message = err
                    } else {
                        app.todos.push(todo)
                        newtodo.name = '';
                        newtodo.content = '';
                    }
                })
            }
        }
    })
    res.user.get(function(err, user) {
        if (err) {
            app.message = err
            setTimeout(function() {
                location.href = "/login"
            }, 2000)
        } else {
            app.user = user
        }
    })
    </script>
</body>

</html>
